DEBIAN/
tmp/
foo
data.tar.xz
control.tar.xz
deb-binary
*.deb
*.dsc
*.asc
*.changes
*.build
*.buildinfo
*.upload
*.swp
*.swo
*.bak
*.sav
*.orig
*.rej
#.debhelper
debhelper-build-stamp
.debhelper
files
*.substvars
*.orig.tar.[xg]z
*.debian.tar.[xg]z
GPATH
GTAGS
GRTAGS
cscope.out
